* {
    margin: 0;
    color: rgb(241, 241, 241);
}

body {
    background-color: rgb(17, 16, 16);
    color: rgb(241, 241, 241);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover {
    color: grey;
}

#back {
    /* font-size: 1.2em; */
    text-decoration: underline;
    display: block;
    font-weight: bold;
    padding-bottom: 8px;
}

#page-container {

    padding-left: 3%;
    padding-top: 15vh;
    padding-right: 3%;
}

#greeting {
    font-size: 5em;
    width: 100%;
    text-align: center;
    margin: 0;
}

#subtitle {
    width: 100%;
    font-size: 1.5em;

    text-align: center;
    margin: 0;
}

#list-header {
    font-size: 1.2em;

    font-weight: bold;
    
    margin-top: 60px;
}

#list-container {
    margin: 0;
    width: 100%;
}

.list-left {
    font-weight: bold;
    text-decoration: underline;
}

.list-right {

    padding-bottom: 16px;
    padding-top: 8px;
    margin: 0;
} 

#social-links {

    background-color: inherit;
    width: 100%;
    text-align: center;
    /* margin-top: 40px; */
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 40px;
}

#social-links-desktop {

    display: none;
}

.social-link {
    padding-right: 10px;
    font-size: 1em;
}

@media (min-width: 600px) {

    #page-container {
    
        padding-left: 15vw;
        padding-top: 20vh;
        padding-right: 10vw;
    }
    
    #greeting {
        font-size: 5em;
        text-align: left;
        margin: 0;
    }
    
    #subtitle {
        font-size: 1.5em;
        text-align: left;
        margin: 0;
    
        margin-bottom: 60px;
    }
    
    #list-header {
        font-size: 1.2em;
    
        font-weight: bold;
        
        margin-top: 60px;
    }
    
    #list-container {
        margin: 0;
        width: 100%;
    }
    
    .list-left {
        text-decoration: underline;
    }
    
    .list-right {
        padding-left: 40px;
        padding-bottom: 16px;
        padding-top: 8px;
        margin: 0;
    } 
    
    #social-links {
        display: none;
    }

    #social-links-desktop {
        display: inline-block;
        width: auto;
        padding-top: 20px;
        text-align: left;
        position: relative;
        padding-left: 15vw;
    }
}